* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
body,
html {
  height: 100%;
}
section {
  /* border: 1px dotted rgb(0, 140, 255); */
}
div {
  /* border: 1px dotted red; */
}
h1 {
  font-size: 1.2rem;
  color: #787878;

  padding-left: 10%;
}
h3 {
  color: #eaeaea;
}

li {
  display: inline-block;
}
li a {
  color: #a5a5a5;
  text-decoration: none;
  list-style: none;
}
a:hover {
  color: #ffffff;
}
img {
  max-width: 100%;
  max-height: 100%;
}

#nav-hover ul li:hover {
  border-bottom: 1px solid white;
}
/* Top section */

.top-menu {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  background-color: #202020;
}

/* Imported */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The switch */
.switch {
  position: relative;
  width: 4rem;
  height: 3.5vh;

  margin-top: 0rem;
  /* border: 2px red dashed; */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #7b7b7b;
  transition: 0.2s;
  border-radius: 5rem;
}

.slider::before {
  position: absolute;
  content: "";
  left: 0.25rem;
  bottom: 0.35rem;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: lightsteelblue;
}

input:checked + .slider::before {
  transform: translateX(2.5rem);
}

/* Logo */

.logo {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
channel-nav-wrapper .logo img {
  width: 4vw;
  height: 3vh;
  /* margin-left: 5%; */
}
.fas,
.fab,
.far {
  color: #909090;
  padding-right: 1vw;
  margin-left: 2vw;
  max-width: 2vw;
  /* font-size: 0.75rem; */
}
/* Search bar */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  background-color: #202020;
  margin-left: 15rem;
}
input {
  width: 35vw;
  height: 3.5vh;
  border: 0.5px solid #7b7b7b;
}
#search-icon-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.2vw;
  height: 3.5vh;
  width: 4vw;
  background-color: #7b7b7b;
}
#microphone {
}
.fas.fa-microphone {
  color: white;
  font-size: 1.3rem;
}

::-webkit-input-placeholder {
  padding: 1.5%;
  color: #929292;
  background-color: #0f0f0f;
}

/* .search-icon img {
    width: 4vw;
    height: 2.1vh;
  } */

/* Menu on the top right side */

.top-right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3vw;
  width: 10%;
}
.top-right-menu img {
  border-radius: 50%;
}
.top-menu nav ul {
  list-style: none;
  width: 13vw;
  display: flex;
  justify-content: space-evenly;
}
.top-menu nav ul li a img {
  margin-left: 2vw;
}

.fas.fa-folder-plus,
.fas.fa-th,
.fas.fa-bell {
  color: white;
}

/* Menu bar on the left side  */

.left-side-bar-main-wrapper {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  width: 13vw;
  height: 94vh;
}
.left-side-bar-main-wrapper div {
  display: flex;
}

.left-side-main-top-div {
  height: 20vh;
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #383838;
}

.left-side-main-top-div img {
  max-width: 15%;
  max-height: 15%;
}

.left-side-main-middle-div {
  height: 39vh;
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #383838;
}

.left-side-main-bottom-div {
  height: 53vh;
  width: 100%;
  background-color: #202020;
  border-bottom: 1px solid #383838;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.left-side-main-bottom-div div h3 {
  margin-left: 9%;
}

.chammel-image {
  max-width: 1vw;
  max-height: 2vh;
  margin-left: 15%;
}
.chammel-image img {
  border-radius: 50%;
}
/* Left menu and main content (channel banner, navigation and videos) */

.left-side-main-main-content {
  display: flex;
}

/* Main Content */

.main-content {
  width: 87vw;
}

.head-banner {
  height: 31vh;
  /* background-color: cyan; */
  /* margin-left: 3%; */
}
.head-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Channel navigation */

.channel-nav-wrapper {
  width: 87vw;
  height: 17vh;
  background-color: #181818;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #7b7b7b; */
}
.channel-nav-wrapper nav ul {
  height: 5vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.channel-icon-name-subscribe-wrapper {
  height: 11vh;
  width: 60vw;
  /* border: 1px dotted rgb(0, 0, 71); */
  /* background-color: rgb(247, 0, 0); */
  display: flex;
}
.channel-icon-name-subscribe-wrapper div {
  /* background-color: rgb(235, 253, 156); */
}
#icon {
  height: 10vh;
  width: 4.7vw;
}
#icon img {
  border-radius: 100%;
  height: 10vh;
  width: 4.7vw;
}
#name-details {
  color: white;
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#name-details h2 {
  padding-top: 40%;
  /* padding-left: 10%; */
  font-size: 1.5rem;
}
#name-details p {
  margin-bottom: 50%;
}
#button-sub {
  align-self: center;
  /*  background-color: yellow;
    border: 1px dotted red; */
}
button {
  background-color: #cc0000;
  color: white;
  height: 4vh;
  width: 6vw;
  border: none;
  border-radius: 2%;
  margin-left: 650%;
}
.videos-wrapper {
  width: 87vw;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px dotted yellow; */
}
#uploads {
  width: 100%;
  height: 9vh;
  /* border: 1px dotted red; */
  display: flex;
  align-items: center;
}
#uploads-inner-div {
  /* border: 1px dotted yellow; */
  margin-left: 10.6vw;
}
.channel-nav nav ul {
  list-style: none;
  width: 65vw;
  height: 4vh;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
  padding-right: 25%;
}
/* i.fas.fa-search {
    background-color: whitesmoke;
  
    margin-left: 20%;
  } */
/* Channel videos*/

.videos {
  height: 47vh;
  background-color: #0f0f0f;
  margin: 0 12%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap-video-img {
  height: 20vh;
  width: 10vw;
  background-color: #0f0f0f;
  /*   margin-top: 1vh; */
  /* border: 1px dotted orange; */
}
.video-img {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.video-img h2 {
  color: white;
  padding-top: 1vh;
}

.video-img p {
  color: #aaaaaa;
}
